.services-afterwrap{
    padding-top: 60px;
    .banner{
        margin-bottom: 0;
    }
    .img-afterwrap{
        .img-wrap{
            height: 67vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-of-type{
                background: #333 url('../../../public/images/boom-lift-service.jpg') center / cover no-repeat;
            }
            &:nth-of-type(2){
                background: #333 url('../../../public/images/erection-service.jpg') center / cover no-repeat;
                margin: 50px 0;
            }
            h5{
                font-size: 55px;
                font-weight: 700;
                color: #fff;
                text-shadow: 1px 1px 4px rgb(0 0 0 / 54%);
                z-index: 1;
                padding: 0 15px;
                text-align: center;
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(135deg, #0B212B 0%, #1D394B 100%);
                opacity: 0.7;
            }
        }
        .img2-wrap{
            height: 67vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .left-wrap{
                width: 50%;
                height: 100%;
                .top-wrap, .bottom-wrap{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #333 url('../../../public/images/lifting-shifting-service.jpg') center / cover no-repeat;
                }
                .bottom-wrap{
                    background: #333 url('../../../public/images/pipeline-service.jpg') 0px -30px / cover no-repeat;
                }
            }
            .right-wrap{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #333 url('../../../public/images/loading-unloading-service.jpg') center / cover no-repeat;
            }
            h5{
                font-size: 55px;
                font-weight: 700;
                color: #fff;
                text-shadow: 1px 6px 4px rgb(0 0 0 / 54%);
                z-index: 1;
                text-align: center;
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(135deg, #0B212B 0%, #1D394B 100%);
                opacity: 0.70;
            }
        }
    }
    @media only screen and (max-width: 1120px){
        padding-top: 35px;
        .img-afterwrap{
            .img-wrap{
                height: 37vh;
            }
            .img2-wrap{
                height: 900px;
                flex-flow: column;
                .left-wrap{
                    width: 100%;
                    .top-wrap, .bottom-wrap{
                        height: 300px;
                    }
                    .bottom-wrap{
                        background-position: 0 -160px;
                    }
                }
                .right-wrap{
                    width: 100%;
                }
            }
        }
    }
}